.diary-footer {
  position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;

    img {
      display: block;
      width: 100%;
      height: auto;
      transform: rotate(15deg);
    }

    @include responsive(T) {
      width: 120px;
      height: 120px;
    }

    @include responsive(D) {
      width: 200px;
      height: 200px;
    }
}