.diary-header {
  @include flexbox(between);
  @include text-style('SangSangShinb7', $font-size-24);
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid $tertiary;

  @include responsive(T) {
      font-size: $font-size-30;
  }
}