.diary {
  &-image {
    position: relative;
    margin-bottom: 14px;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;

    &.landscape {
      aspect-ratio: 16 / 9;
    }

    &.portrait {
      aspect-ratio: 4 / 3;
    }

    &.moderate-tall {
      aspect-ratio: 7 / 11;
    }

    &.square {
      aspect-ratio: 1 / 1;
    }

    img {
      object-fit: cover;
    }
  }

  &-content {
    .title {
      margin-bottom: 8px;
      font-size: $font-size-18;
      font-weight: 600;
    }
  }

  @include responsive(T) {
    &-image {
      width: 617px;
    }

    &-content {
      .title {
        font-size: $font-size-30;
      }
    }
  }

  @include responsive(D) {
    &-main {
      display: inline-flex;
    }

    &-image {
      margin-bottom: 0;
      border-radius: 0;
    }

    &-content {
      margin-left: 16px;
      padding-top: 16px;
      height: 500px;
      overflow-y: auto;
    }
  }
}
