.foster-animal {

  &-list {
    display: grid;
    width: 100%; /* 부모 컨테이너에 맞도록 너비 설정 */
    grid-gap: 16px; /* 카드 간의 간격 */
    /* 기본 1열로 설정 (모바일) */
    grid-template-columns: repeat(1, 1fr);
  }

  &-item {
    margin-bottom: 30px;
  }

  &-content {
    display: block;
    position: relative; /* 텍스트 오버레이를 이미지 위에 배치하기 위해 relative 사용 */
    overflow: hidden;
    color: $white;
    border-radius: 10px;

    .btn-wrapper {
      button {
        @include text-style(null, $font-size-12, $white);
        padding: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: bold;
      }
      
      .status {
        margin-right: 10px;
        background-color: $lavender;
      }

      .type {
        background-color: $lavender-light;
      }
    }

    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent); /* 하단에서 위로 가는 검은색 그라데이션 */
      color: white; /* 텍스트 색상 */
      box-sizing: border-box;
      border-radius: 10px;
    }
  }

  
  &-image {
    display: block;
    
    img {
      width: 100%;
      height: 100%;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      object-fit: cover;
    }
  }
  
  &-info {
    margin-bottom: 5px;
    font-size: $font-size-16;
  }
  
  &-number {
    @include text-style(null, $font-size-12, $white);
    margin-bottom: 5px;
  }

  &-desc {
    @include text-style(null, $font-size-12, $border);
    display: -webkit-box;
    line-height: 150%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: keep-all;   // 문단으로 끊어져서 줄바꿈 
  }

  @include responsive(T) {
    &-list {
      grid-template-columns: repeat(2, 1fr); /* 2개의 열 */
    }

    &-info {
      margin-bottom: 10px;
    }

    &-number {
      margin-bottom: 10px;
      font-size: $font-size-14;
    }

    &-desc {
      font-size: $font-size-14;
    }
  }

  @include responsive(D) {
    &-list {
      grid-template-columns: repeat(4, 1fr); /* 4개의 열 */
    }

    &-image {
      opacity: 0.9;
      transition: opacity 200ms ease-in-out;
    }

    &-content {

      &:hover,
      &:focus,
      &:active {
        .foster-animal-image {
          opacity: 1;
        }

        .overlay {
          opacity: 1;
        }
      }

      .overlay {
        transition: opacity 200ms ease-in-out;
        opacity: 0;
      }
    }

    &-item {
      margin-bottom: 40px;
    }

    &-number {
      font-size: $font-size-18;
    }

    &-info {
      font-size: $font-size-22;
    }

    &-desc {
      font-size: $font-size-18;
    }
  }
}