
.btn-wrapper {
  button {
    @include text-style(null, $font-size-12, $white);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
  }
  
  .status {
    margin-right: 10px;
    background-color: $lavender;
  }

  .type {
    background-color: $lavender-light;
  }
}
