$padding-sm: 50px;
$padding-md: 100px;

$sm: 10px;
$md: 20px;

$sm-height: 50px;
$md-height: 70px;
$lg-height: 80px;

.post {
  position: relative;
  padding: $padding-sm 20px;
  background-color: $white;

  .upload-image-wrapper {
    margin-bottom: 20px;

    .uploadButton {
      padding: $sm;
      margin-bottom: $sm;
      border: 1px solid $dark;
      border-radius: $sm;
      font-weight: bold;
      font-size: $font-size-14;
    }

    .misc {
      @include text-style(null, $font-size-14, $secondary);
    }

    .image-box {
      display: flex;
      margin-top: $sm;
    }

    .preview-image {
      flex: 1;

      img {
        display: block;
        width: 100%;
        object-fit: contain;
        max-height: 400px;
      }
    }

  }

  .animal-info,
  .animal-details,
  .foster-conditions,
  .health-info,
  .behavior-info {
    margin-bottom: 40px;

    div:last-child {
      margin-bottom: 0;
    }
  }

  .inputDiv {
    margin-bottom: $md;

    .title {
      margin-bottom: $sm;
      font-size: $font-size-14;
      font-weight: bold;
    }

    select {
      cursor: pointer;
    }
  }

  .inputLabel {
    display: block;
    margin-bottom: $sm;
    font-size: $font-size-14;
    font-weight: bold;
  }

  input[type="radio"] {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  input[type='radio'] {
    -webkit-appearance: none; // 웹킷 브라우저에서 기본 스타일 제거
    -moz-appearance: none; // 모질라 브라우저에서 기본 스타일 제거 
    appearance: none; // 기본 브라우저에서 기본 스타일 제거
    width: 15px;
    height: 15px;
    border: 1px solid #ccc; // 체크되지 않았을 때의 테두리 색상
    border-radius: 50%;
    outline: none; // focus 시에 나타나는 기본 스타일 제거
    cursor: pointer;
  }
  // 체크 시 버튼 모양 스타일
  input[type='radio']:checked {
    background-color: $lavender-dark; // 체크 시 내부 원 색상
    border: 3px solid $white; // 라인이 아닌, 라인과 원 사이 색상
    box-shadow: 0 0 0 1px $lavender; // 라인
  }  

  .input {
    padding: $sm;
    width: 100%;
    height: $sm-height;
    font-size: $font-size-12;
    border: 1px solid $border;
    border-radius: 5px;
    transition: border 200ms ease-in-out;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid $lavender;
    }
  }

  .weight {
    width: 50px;
    margin-right: $sm;
  }

  strong {
    display: block;
    padding-bottom: $sm;
    margin-bottom: $md;
    border-bottom: 2px solid $dark;
    font-size: $font-size-16;

    .icon {
      position: relative;
      top: 2px;
      color: $lavender;
    }
  }

  .button-wrapper {
    @include flexbox;
    margin-top: 20px;
  }

  .actionButton {
    @include text-style(null, $font-size-14, $white);
    width: 180px;
    height: $sm-height;
    background-color: $lavender;
    font-weight: bold;
    border-radius: 41px;
  }

  @include responsive(T) {
    padding: $padding-md 40px;

    .upload-image-wrapper {
      .uploadButton {
        padding: $md;
        margin-bottom: $md;
        font-size: $font-size-24;
      }

      .misc {
        @include text-style(null, $font-size-18, $secondary);
        margin-bottom: $md;
      }
    }

    .animal-info,
    .animal-details,
    .foster-conditions,
    .health-info,
    .behavior-info {
      margin-bottom: 80px;
    }

    .inputDiv {
      margin-bottom: 40px;

      textarea {
        padding: 20px;
      }
    }

    .inputLabel {
      margin-bottom: $md;
      font-size: $font-size-18;
    }

    .inputDiv {
      .title {
        margin-bottom: $md;
        font-size: $font-size-18;
      }
    }

    input[type='radio'] {
      width: 20px;
      height: 20px;
    }

    .input {
      padding: 0 $md;
      height: $md-height;
      font-size: $font-size-16;
    }

    .weight {
      width: 80px;
    }

    strong {
      padding-bottom: $md;
      margin-bottom: 40px;
      font-size: $font-size-20;;
    }

    .button-wrapper {
      margin-top: 40px;
    }

    .actionButton {
      width: 250px;
      height: $md-height;
      font-size: $font-size-18;
    }
  }

  @include responsive(D) {
    margin: 0 auto;
    padding: $padding-md 60px;
    max-width: 1300px;

    .upload-image-wrapper {
      .uploadButton {
        padding: $md;
        font-size: $font-size-24;
      }
    }

    .inputLabel {
      font-size: $font-size-24;
    }

    .inputDiv {
      .title {
        font-size: $font-size-24;
      }
    }

    input[type='radio'] {
      width: 24px;
      height: 24px;
    }

    .input {
      height: $lg-height;
      font-size: $font-size-20;
    }

    .weight {
      width: 100px;
    }

    strong {
      font-size: $font-size-30;
    }

    .actionButton {
      width: 280px;
      height: $lg-height;
      font-size: $font-size-24;
    }
  }
}
