.modal-background {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $modal-level;
  overscroll-behavior: contain;
}

@media (prefers-color-scheme: dark) {
  .modal-background {
    background-color: rgba(91, 112, 131, 0.4);
  }
}

.modal-card {
  @include no-scrollbar;
  overscroll-behavior: contain;
  width: 100vw;
  height: 100%;
  background-color: $white;
  overflow: auto;
  overflow-behavior: contain;
  padding: 60px 20px;

  $input-height-sm: 50px;
  $input-height-md: 70px;

  .count {
    color: $primary-color;
    font-size: $font-size-12;
  }

  &-header {
    position: relative;
    margin-bottom: 20px;

    .title {
      font-size: $font-size-18;
    }

    .button-close {
      position: absolute;
      top: -60px;
      right: -10px;
      color: $lavender;
      font-weight: bold;
      font-size: $font-size-40;

      &:hover,
      &:active {
        color: $lavender-dark;
      }
    }
  }

  &-content {
    margin-bottom: 25px;

    .link-wrapper {
      @include flexbox(between);
      @include text-style(null, $font-size-12, $primary-color);
    }

    form {
      margin-bottom: 20px;
      font-size: $font-size-12;

      .label {
        display: block;
        margin-bottom: 10px;
        font-weight: 600;

        &::before {
          margin-right: 3px;
          width: 1px;
          height: 1px;
          content: '*';
          color: $lavender;
        }

        &.label-profile:before {
          content: none;
        }
      }

      .error {
        margin-bottom: 10px;
        font-weight: 600;
        color: $lavender;
      }
    }

    .input {
      margin-bottom: 10px;
      padding-left: 10px;
      width: 100%;
      height: $input-height-sm;
      border: 1px solid $border;
      border-radius: 5px;
      transition: border 100ms ease-in-out;

      &::placeholder {
        color: $secondary;
      }

      &:hover,
      &:focus,
      &:active {
        border: 2px solid $lavender-light;
      }
    }

    .input-profile {
      margin-bottom: 10px;
      width: 100%;
    }

    .login-button {
      @include inline-flexbox;
      @include text-style(null, $font-size-14, $white);
      width: 100%;
      height: $input-height-sm;
      font-weight: bold;
      background-color: $lavender;
      border-radius: 5px;
      transition: background-color 200ms ease-in-out;

      &:hover {
        background-color: $lavender-dark;
      }

      &:disabled {
        background-color: $tertiary;
        cursor: not-allowed;
      }
    }
  }

  &-footer {
    @include column-flexbox;
    border-top: 1px solid $border;
    padding-top: 25px;

    p {
      display: block;
      margin-bottom: 15px;
      font-size: $font-size-14;
    }

    .button-wrapper {
      @include flexbox;
      gap: 0 10px;
      width: 100%;

      button {
        @include inline-flexbox;
        width: $input-height-sm;
        height: $input-height-sm;
        font-size: $font-size-24;
        border-radius: 100%;
      }
    }

    .button-naver {
      background-color: $naver;
      color: $white;
    }

    .button-kakao {
      background-color: $kakao;
    }

    .button-google {
      background-color: $google;
    }
  }

  @include responsive(T) {
    padding: 80px 40px;

    &-content {
      margin-bottom: 50px;

      .link-wrapper {
        font-size: $font-size-16;
      }

      form {
        margin-bottom: 40px;
        font-size: $font-size-16;
      }

      .input {
        padding-left: 20px;
        height: $input-height-md;
        border-radius: 10px;
      }

      .login-button {
        height: $input-height-md;
        font-size: $font-size-18;
        border-radius: 10px;
      }
    }

    &-footer {
      padding-top: 50px;

      p {
        margin-bottom: 30px;
        font-size: $font-size-18;
        font-weight: bold;
      }

      .button-wrapper {
        gap: 0 20px;

        button {
          width: $input-height-md;
          height: $input-height-md;
          font-size: $font-size-34;
        }
      }
    }
  }

  @include responsive(D) {
    position: relative;
    @include pos-center-y;
    padding-top: 40px;
    width: 600px;
    height: 500px;
    background-color: $white;
    max-width: 80vw;
    min-width: 600px;
    border-radius: 15px;
  }
}
