.title {

  h1 {
    font-size: $font-size-18;
  }

  @include responsive(T) {
    margin-bottom: 30px;

    h1 {
      font-size: $font-size-24;
    }
  }

  @include responsive(D) {
    h1 {
      color: $primary-color;
      font-size: $font-size-24;
    }
  }
}