.post-button {
  margin-left: 20px;
  margin-top: 10px;
  display: flex;

  a {
    @include text-style(null, $font-size-14, $lavender);
    padding: 10px;
    border: 1px solid $lavender;
    border-radius: 5px;
    transition: background-color 200ms ease-in-out;
    &:hover {
      color: $white;
      background: $lavender;
    }
  }

  .icon {
    margin-right: 5px;
    position: relative;
    top: 2px;
  }

  @include responsive(T) {
    margin-left: 40px;

    a {
      font-size: $font-size-16;
    }
  }

  @include responsive(D) {
    margin: 0 auto;
    margin-top: 10px;
    width: 1400px;
    justify-content: end;

    a {
      font-size: $font-size-18;
    }
  }
}
