.animal-section {
  margin-bottom: 40px;

  &-header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid $primary-color;

    .icon {
      position: relative;
      top: 3px;
      margin-right: 5px;
      color: $lavender-dark;
    }

    h1 {
      font-size: $font-size-14;
    }
  }

  @include responsive(T) {
    margin-bottom: 80px;

    &-header {
      margin-bottom: 40px;
      padding-bottom: 20px;

      .icon {
        margin-right: 10px;
      }

      h1 {
        font-size: $font-size-18;
      }
    }
  }

  @include responsive(D) {
    h1 {
      font-size: $font-size-24;
    }
  }
}
