.container {
  margin-bottom: 30px;

  .image-card {
    position: relative;
    margin: 0 auto;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;

    &.landscape {
      aspect-ratio: 16 / 9;
    }

    &.portrait {
      aspect-ratio: 4 / 3;
    }

    &.moderate-tall {
      aspect-ratio: 7 / 11;
    }

    &.square {
      aspect-ratio: 1 / 1;
    }

    img {
      object-fit: cover;
    }
  }

  @include responsive(T) {
    margin: 0 auto 40px;

    .image-card {
      width: 617px;
    }
  }

  @include responsive(D) {
    float: left;
    width: 555px;
    margin-bottom: 50px;

    .image-card {
      width: 555px;
      border-radius: 20px;
    }
  }
}
