@font-face {
  font-family: 'SangSangShinb7';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.diary-container {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  margin: 20px auto;
  padding: 0;
  
  @include responsive(T) {
    width: 680px;
  }

  @include responsive(D) {
    width: 920px;
    display: flex;
    flex-direction: column;
  }
}
