@font-face {
  font-family: 'SangSangShinb7';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.diary-container {
  position: relative;
  padding-bottom: 10px;
  overflow: hidden;

  @include responsive(T) {
    margin: 0 auto;
    width: 617px;
  }

  @include responsive(D) {
    margin-bottom: 100px;
    width: 1000px;
    padding-bottom: 0;
    border: 1px solid $border;
  }
}
