$padding-sm: 50px;
$padding-md: 100px;

$sm: 10px;
$md: 20px;

$sm-height: 50px;
$md-height: 70px;
$lg-height: 80px;

.post {
  position: relative;
  padding: $padding-sm 20px;
  background-color: $white;

  .inputDiv {
    margin-bottom: $sm;
  }

  input[type="radio"] {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }

  input[type='radio']:checked {
    background-color: $lavender-dark; 
    border: 3px solid $white; 
    box-shadow: 0 0 0 1px $lavender;
  }  

  .upload-image-wrapper {
    margin-bottom: 20px;

    .uploadButton {
      padding: $sm;
      margin-bottom: $sm;
      border: 1px solid $dark;
      border-radius: $sm;
      font-weight: bold;
      font-size: $font-size-14;
    }

    .misc {
      @include text-style(null, $font-size-14, $secondary);
      margin-bottom: $sm;
    }

    img {
      display: block;
      width: 350px;
      height: auto;
      max-height: 460px;
      object-fit: cover;
      border-radius: $sm;
    }
  }

  .inputLabel {
    display: block;
    margin-bottom: $sm;
    font-size: $font-size-14;
    font-weight: bold;
  }

  .input {
    padding: $sm;
    width: 100%;
    height: $sm-height;
    font-size: $font-size-12;
    border: 1px solid $border;
    border-radius: 5px;
    transition: border 200ms ease-in-out;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid $lavender;
    }
  }

  .button-wrapper {
    @include flexbox;
    margin-top: 20px;
  }

  .actionButton {
    @include text-style(null, $font-size-14, $white);
    width: 180px;
    height: $sm-height;
    background-color: $lavender;
    font-weight: bold;
    border-radius: 41px;
  }

  @include responsive(T) {
    padding: $padding-md 40px;

    .inputDiv {
      margin-bottom: 40px;
    }

    .inputLabel {
      margin-bottom: $md;
      font-size: $font-size-18;

    }

    .input {
      padding: 0 $md;
      height: $md-height;
      font-size: $font-size-16;
    }

    .upload-image-wrapper {
      .uploadButton {
        padding: $md;
        margin-bottom: $md;
        font-size: $font-size-24;
      }
  
      .misc {
        @include text-style(null, $font-size-18, $secondary);
        margin-bottom: $md;
      }
      
      img {
        width: 617px;
        max-height: 900px;
        border-radius: $md;
      }
    }

    .button-wrapper {
      margin-top: 40px;
    }

    .actionButton {
      width: 250px;
      height: $md-height;
      font-size: $font-size-18;

      &-disabled {
        background-color: $tertiary;
        cursor: not-allowed;
      }
    }
  }

  @include responsive(D) {
    margin: 0 auto;
    padding: $padding-md 60px;
    max-width: 1300px;

    .inputLabel {
      font-size: $font-size-24;
    }

    .input {
      height: $lg-height;
      font-size: $font-size-20;

      &.input-width {
        width: 490px;
      }
    }

    .upload-image-wrapper {
      .uploadButton {
        font-size: $font-size-24;
      }
  
      img {
        width: 555px;
        max-height: 800px;
        border-radius: $md;
      }
    }

    .actionButton {
      width: 280px;
      height: $lg-height;
      font-size: $font-size-24;
    }
  }
}
