.answer {
  &-list {
    padding: 40px 0;
  }

  &-item {
    margin-bottom: 14px;
    border: 1px solid $border;
    border-radius: 41px;
    overflow: hidden;
    transition:
      background-color 200ms ease-in-out,
      color 200ms ease-in-out;
    cursor: pointer;

    &:hover,
    &:active {
      button {
        background-color: $lavender;
        color: $white;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.is-active {
      button {
        background-color: $lavender;
        color: $white;
      }
    }

    button {
      padding: 20px;
      width: 100%;
      text-align: center;
      font-weight: 500;
    }
  }

  @include responsive(T) {
    &-list {
      @include flexbox(center, center);
      padding: 80px 0;
    }

    &-item {
      margin-bottom: 0;
      margin-right: 10px;

      button {
        width : 240px;
        height: 70px;
      }
    }
  }
}
